:root{
  --skin-color:#1fc586;
  --skin-color-mat:#127a53;
  --bg-black-900 : #ffffff;
  --bg-black-100 : #353535;
  --bg-black-50 : #2b2c2f;
  --bg-opacity : rgba(43,44,47,0.5);
  --text-black-900 : #ffffff;
  --text-black-700 : #ffffff;
  --text-black-600 : #bbbbbb;
  --text-black-300 : #bbbbbb;
  --outer-shadow : 3px 3px 3px #222327 , -3px -3px 3px #363636;
  --outer-shadow-0 : 0 0 0 #222327 , 0 0 0 #363636;
  --inner-shadow : inset 3px 3px 3px #222327 ,inset -3px -3px 3px #363636;
  --inner-shadow-0 : inset 0 0 0 #222327, inset 0 0 0 #363636;
}

/*---fonts----*/
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;600;700&display=swap');
/*---fonts----*/

body.light{
  --skin-color:#1fc586;
  --bg-black-900 : #000000;
  --bg-black-100 : #dddddd;
  --bg-black-50 : #eff0f4;
  --bg-opacity : rgba(255,255,255,0.5);
  --text-black-900 : #000000;
  --text-black-700 : #555555;
  --text-black-600 : #666666;
  --outer-shadow : 3px 3px 3px #d0d0d0 , -3px -3px 3px #f8f8f8;
  --outer-shadow-0 : 0 0 0 #d0d0d0 , 0 0 0 #f8f8f8;
  --inner-shadow : inset 3px 3px 3px #d0d0d0 ,inset -3px -3px 3px #f8f8f8;
  --inner-shadow-0 : inset 0 0 0 #d0d0d0, inset 0 0 0 #f8f8f8;
}

body{
  font-size: 16px;

  background-color: var(--bg-black-50);
  overflow-x: hidden;
}

body.overflowYHidden{
  overflow-y: hidden;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
}

::before,::after{
  box-sizing: border-box;
}

a{
  text-decoration: none;
}

ul{
  list-style: none;
  margin: 0;
  padding: 0;
}

img{
  vertical-align: middle;
  max-width: 100%;
}

.outer-shadow{
  box-shadow: var(--outer-shadow);
}

.inner-shadow{
  box-shadow: var(--inner-shadow);
}

.hover-in-shadow{
  position: relative;
  z-index: 1;
}

.hover-in-shadow:hover{
  box-shadow: var(--outer-shadow-0);
}

.hover-in-shadow:after{
 content: '';
 position: absolute;
 left: 0;
 top: 0;
 width: 100%;
 height: 100%;
 transition: all 0.3s ease;
 z-index: -1;
}

.hover-in-shadow:hover:after{
  box-shadow: var(--inner-shadow);
}

.container{
  max-width: 1140px;
  margin: auto;
}

.row{
  display: flex;
  flex-wrap: wrap;
}

.justify-content-between{
  justify-content: space-between;
}

.btn{
  padding: 10px 25px;
  font-size: 16px;
  font-weight: 500;
  color: var(--skin-color);
  background-color: transparent;
  line-height: 1.5;
  cursor: pointer;
  border-radius: 30px;
  transition: all 0.3s ease;
  display: inline-block;
  border: none;
}

.btn:after{
  border-radius: 30px;
}


.section-title{
  padding: 0 15px;
  flex: 0 0 100%;
  max-width: 100%;
  text-align: center;
  margin-bottom: 10px;
}

.section-title h2{
  display: inline-block;
  font-size: 30px;
  font-weight: 700;
  color: var(--text-black-900);
  text-transform: uppercase;
  margin: 0;
}

.section-title h2:before{
  content: attr(data-heading);
  display: block;
  font-size: 16px;
  font-weight: 600;
  color: var(--skin-color);
}
