.result-card{
    flex: 0 0 33.33%;
    max-width: 33.33%;
    padding: 15px;
    display: flex ;
    flex-wrap: wrap;
    animation: fadeInTop 0.5s ease;
}


.result-card .result-card-body{
    padding: 15px;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
}

.result-card .result-card-img img{
    border-radius: 5px;
    width: 100%;
    transition: all 0.3s ease;
}

.result-card .result-card-body:hover .result-card-img img{
    transform: translateY(-25px);
}

.result-card .result-card-img{
    position: relative;
}

.result-card .result-card-img .view-details{
    text-transform: capitalize;
    font-size: 16px;
    font-weight: 500;
    color: var(--skin-color);
    transition: all 0.3s ease;
    position: absolute;
    left: 0;
    bottom: -4px;
    transform: translateY(-5px);
    z-index: -1;
    opacity: 0;
}

.result-card .result-card-body:hover .view-details{
    transform: translateY(0px);
    opacity: 1;
}

.result-card .results-item-details{
    display: none;
}

.result-card .result-card-body .result-card-title{
    font-size: 16px;
    margin: 10px 0 0;
    color: var(--text-black-600);
    text-transform: capitalize;
}

.result-card .result-card-body .result-card-title:hover{ 
    color: var(--skin-color);
}

.result-card .loading-image,
.result-card .loading-title {
      background: var(--bg-black-50);
      background: linear-gradient(110deg, var(--bg-black-50) 8%, var(--bg-black-100) 18%, var(--bg-black-50) 33%);
      border-radius: 5px;
      background-size: 200% 100%;
      animation: 1.5s shine linear infinite;
}
  
.result-card .loading-image{
  height: 200px;
  
}
  
  
.result-card .loading-title {
  height: 20px;
  margin: 10px 0 0;
}

@media(max-width:991px){

    .result-card{
        flex: 0 0 50%;
        max-width: 50%;
    }
}

@media(max-width:574px){
    .result-card{
        flex: 0 0 100%;
        max-width: 100%;
    }
}
