.results-section{
    padding: 80px 0 80px;
    min-height: 100vh;
}

.results-section .results-filter{
    padding: 0 15px;
    flex: 0 0 100%;
    max-width: 100%;
    text-align: center;
    margin-bottom: 20px;
}